<app-header></app-header>


<div class = "container mt-5">
    <div class="col-lg-18 offset-lg-0">
        <div class="card">
            <div class="card-body text center">
                <span class="titulo">Listado de Categorias</span>                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre de Categoria</th>
                        
                        


                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <th scope="row">1</th>
                        <td>Vela Clasica</td>
                        
                                         
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Vela Sofisticada</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">3</th>                        
                        <td>Vela Moderna</td>
                        
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
