<header class="d-flex justify-content-between align-items-center p-0">
  <div class="d-flex align-items-center">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <a [routerLink]="['/home']" class="d-flex align-items-center">
      <img
        src="https://img2.freepnges.com/20231028/pop/transparent-lotus-flower-1711043233823.webp"
        alt="Logo"
        id="logo"
        class="img-fluid"
      />
    </a>
    <span class="header-title ms-2">WillVelsAdmin</span>
  </div>
  <div>
    <button class="btn btn-outline-secondary" (click)="logout()">Cerrar Sesión</button>
  </div>
</header>
