<main>
    <div class="Titulo">
        <h1 class="titulo-img">{{titulo}}</h1>
    </div>
    <div id="container">
        <div id="homeDashboard" class="listas">
            <div class="imagen-principal">
                <img src="{{imagenPrincipal}}" alt="ImagenPrincipal">
            </div>
                  <div id="grid-container">
                <div id="products" class="productos-imagen">
                    <img src="{{imagenListaProducto}}" alt="Imagen de Producto"  >
                    <span class="imagen-texto">Lista de Productos</span>
                </div>
                <div id="categories" class="categorias-imagen">
                    <img src="{{imagenListaCategorias}}" alt="Imagen de Categorías"  >
                    <span class="imagen-texto">Lista de Categorías</span>
                </div>
                <div id="orders" class="ordenes-imagen">
                    <img src="{{imagenListaOrdenes}}" alt="Imagen de Órdenes"  >
                    <span class="imagen-texto">Lista de Órdenes</span>
                </div>
                <div id="users" class="usuarios-imagen">
                    <img src="{{imagenUsuarios}}" alt="Imagen de Usuarios"  >
                    <span class="imagen-texto">Lista de Usuarios</span>
                </div>
            </div>
        </div>
    </div>
</main>
