<app-header></app-header>

<main class="d-flex align-items-center justify-content-center vh-100">
  <div class="login-container w-100" style="max-width: 400px;">
    <div *ngIf="formInvalid" class="alert alert-danger">
      <h3>Credenciales inválidas</h3>
    </div>
    <div class="login-card card p-4 shadow">
      <h1 class="text-center">Agregar Nuevo Usuario</h1>
      <p class="text-center">Completa los campos para agregar un nuevo usuario</p>
      <div class="form">
        <form [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
          <div class="form-group">
            <label for="firstname">Nombre</label>
            <input type="text" id="firstname" formControlName="nombre" class="form-control" />
            <div *ngIf="usuarioForm.get('nombre')?.invalid && usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
              <small class="text-danger">Campo requerido</small>
            </div>
          </div> 

          <div class="form-group">
            <label for="lastname">Apellido</label>
            <input type="text" id="lastname" formControlName="apellido" class="form-control" />
            <div *ngIf="usuarioForm.get('apellido')?.invalid && usuarioForm.get('apellido')?.hasError('required') && usuarioForm.get('apellido')?.touched">
              <small class="text-danger">Campo requerido</small>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email de Usuario</label>
            <input type="text" id="email" formControlName="email" class="form-control" />
            <div *ngIf="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.hasError('required') && usuarioForm.get('email')?.touched">
              <small class="text-danger">Campo requerido</small>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" formControlName="password" class="form-control" />
            <div *ngIf="usuarioForm.get('password')?.invalid && usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched">
              <small class="text-danger">Campo requerido</small>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="volver()">Volver</button>
            <button type="submit" class="btn btn-primary">Agregar Usuario</button>
          </div>
          
          <div *ngIf="formInvalid" class="alert alert-danger mt-3">
            <h5>Por favor, complete todos los campos correctamente.</h5>
          </div>

        </form>
       
      </div>
    </div>
  </div>
</main>
