
<app-header></app-header>

<div class = "container mt-5">
    <div class="col-lg-18 offset-lg-0">
        <div class="card">
            <div class="card-body text center">
                <span class="titulo">Listado de Productos</span>
                <button class="btn btn-success float-end"  [routerLink]="['/products/CrearProducto']">Nuevo</button>
                <section class="grid-container">
                  @for (product of products(); track product.id)
                  {<a [routerLink]="['/product', product._id]">
                    <app-card-product [titulo]="product.name" [description]="product.description"  [price]="product.price"/>
                  </a>}
                </section>
            </div>
        </div>
    </div>
</div>
