
* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
   
    background: #A1FFCE;
background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE); 
background: linear-gradient(to right, #FAFFD1, #A1FFCE); 

    font-family: 'DM Sans', sans-serif;
}

.titulo{
  font-size: 1.8rem;
}

.josefin-sans-uniquifier {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
